<h2 mat-dialog-title>Dimensions</h2>
<mat-dialog-content  class="mat-typography">
  <div class="row">
    <div class="col-6"><form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" >
      <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>
  </form></div>
  <div class="col-5 ml-4"><form class="example-form">
    <mat-form-field class="example-full-width1" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search" >
      <mat-icon matSuffix>filter_alt</mat-icon>
    </mat-form-field>
  </form></div>
  </div>

  <!-- <mat-grid-list cols="9" rowHeight="50px">

    <mat-grid-tile colspan="4"><form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" >
      </mat-form-field>
    </form></mat-grid-tile>
    <mat-grid-tile colspan="1">1</mat-grid-tile>
    <mat-grid-tile colspan="4">2</mat-grid-tile>
  </mat-grid-list> -->
  <mat-grid-list cols="20" rowHeight="423px" style="margin-top:5px">
    <mat-grid-tile style="background-color:white;border: 1px solid;" colspan="9">
      <!-- <mat-grid-tile-header style="background-color: white;height:80px">

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" >
        </mat-form-field>
      </form>

    </mat-grid-tile-header> -->

    <mat-list style="width: 100%;height: 420px;overflow-y: scroll;">
     <ng-container *ngFor="let folder of folders">

      <mat-list-item (click)="selectParent(folder.name)">
        <mat-icon mat-list-icon *ngIf="selectedParent!==folder.name">keyboard_arrow_right</mat-icon>
        <mat-icon mat-list-icon *ngIf="selectedParent==folder.name">keyboard_arrow_down</mat-icon>

        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <br>
      </mat-list-item>
      <ng-container *ngIf="selectedParent==folder.name"><mat-list-item  style="margin-left: 30px;" *ngFor="let children of folder.children" (click)="selectChildren(children)">
        <mat-icon [ngStyle]="{'background-color':selectedChildren==children ? 'green' : 'white' }"  mat-list-icon style="color: black;">keyboard_arrow_right</mat-icon>
        <div mat-list style="margin-left: 5px;"><i>{{children}}</i></div>
      </mat-list-item></ng-container>

     </ng-container>

    </mat-list>



  </mat-grid-tile>
    <mat-grid-tile style="width: 2px;" colspan="2">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight"><button mat-icon-button (click)="moveToRight()" style="background-color: lightgray;" [disabled]="!selectedChildren" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button></div>
        <div class="p-2 bd-highlight"><button mat-icon-button (click)="moveToLeft()" style="background-color: lightgray;" [disabled]="!selectedRight" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button></div>

      </div>



  </mat-grid-tile>
    <mat-grid-tile style="background-color:white;border: 1px solid;" colspan="9">
      <!-- <mat-grid-tile-header style="background-color: white;height:80px">

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search" >
        </mat-form-field>
      </form>

    </mat-grid-tile-header> -->
    <mat-selection-list #shoes [multiple]="false" style="width: 100%;height: 420px;">

      <mat-list-option *ngFor="let shoe of typesOfShoes" (click)="selectRight(shoe)" [value]="shoe">
        <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
        {{shoe}}
      </mat-list-option>
    </mat-selection-list>
  </mat-grid-tile>
  </mat-grid-list>
  <div class="row">
    <div class="col-md-1">
      <mat-form-field class="form-group" appearance="outline">

        <select matNativeControl >
          <option value="None">None</option>
        </select>
      </mat-form-field>
    </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  mat-dialog-close>Close</button>
  <button mat-raised-button (click)="closeDialog()" color="primary" cdkFocusInitial>Save</button>
</mat-dialog-actions>
